<button *ngIf="connected" (click)="logout()">Disconnect</button>
<button *ngIf="!connected" (click)="connect()">Connect</button>
<!--h3>Update Email</h3>
<form>
  <input name="email" type="email" [(ngModel)]="logged.email" placeholder="Edit Email" />
  <button (click)="update()">Update</button>
</form-->
<h3>Room Name {{ room.name }}</h3>
<form>
  <input name="name" type="text" [(ngModel)]="room.name" placeholder="Room Name" />
  <button (click)="create()">Create</button>
</form>
<h3>Rooms</h3>
<ul>
  <li *ngFor="let _room of rooms">
    <button (click)="join(_room)">Join</button> {{ _room.name }}
  </li>
</ul>